/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/tntsearch/*.index
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
homestead.test.crt
graphql.config.json
npm-debug.log
yarn-error.log
_ide_helper.php
.env
