
.fc-event.fc-muted {
  background-color: $gray-400 !important;
  color: $white !important;
  border-color: $gray-300 !important;
}

.fc-v-event .fc-content {
  padding: 3px 4px;
}

.fc-event-icon {
  margin-right: 2px;
}

a.fc-event {
  color: $dark;
}