
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import '~tabler-ui/src/assets/scss/bundle.scss';
@import '~tabler-ui/src/assets/plugins/fullcalendar/plugin.scss';

@import '~v-calendar/lib/v-calendar.min.css';

@import 'data';

.dropdown-item.active .dropdown-icon, .dropdown-item:active .dropdown-icon {
  color: white;
}

.column-select-entry-handle {
  cursor: grab;
  :active {
    cursor: grabbing;
  }
}

.header-brand-img .kb-primary-color {
  fill: $primary;
}

@import "fc_events";